@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Libre Franklin", sans-serif;
  color: #151f29;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 720px) {
  body {
    min-width: 720px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  display: block;
  height: 1.6rem;
  margin-top: 7rem;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 720px) {
  .header__logo {
    height: unset;
    margin-top: 8.5rem;
    margin-bottom: 5rem;
  }
}
.header__title--gray {
  color: #969696;
}
.header__title--light {
  font-weight: 300;
}
@media screen and (min-width: 720px) {
  .header__title {
    font-size: 4.8rem;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1.5rem;
}
@media screen and (min-width: 720px) {
  .subscribe__title {
    font-size: 2rem;
  }
}
.subscribe__form {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 720px) {
  .subscribe__form {
    width: 64rem;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 9rem;
  }
}

.form > * + * {
  margin-top: 1rem;
}
@media screen and (min-width: 720px) {
  .form > * + * {
    margin-top: unset;
  }
}
.form__item {
  border-radius: 9999px;
  height: 3.7rem;
  font-family: inherit;
}
@media screen and (min-width: 720px) {
  .form__item {
    height: 5.5rem;
  }
}
.form__item--input {
  border: 1px solid #c2d3ff;
  padding-left: 3rem;
}
.form__item--input::placeholder {
  color: #c2d3ff;
}
@media screen and (min-width: 720px) {
  .form__item--input {
    width: 66%;
  }
  .form__item--input::placeholder {
    font-size: 1.6rem;
  }
}
.form__item--btn {
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: #4f7df3;
  box-shadow: 0 1rem 2rem -1rem rgba(79, 125, 243, 0.8);
  cursor: pointer;
}
.form__item--btn:active {
  opacity: 0.8;
}
@media screen and (min-width: 720px) {
  .form__item--btn {
    width: 31%;
    font-size: 1.6rem;
  }
}

.ping__illustration {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 720px) {
  .ping__illustration {
    width: 64rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.footer__list-link {
  display: flex;
}
.footer__list-link > * + * {
  margin-left: 2rem;
}
.footer__copyright {
  color: #969696;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.link {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #c2d3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #4f7df3;
}
.link:hover {
  fill: white;
  background-color: #4f7df3;
  border: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
