.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 9rem;
  margin-bottom: 3rem;

  &__list-link {
    display: flex;

    > * + * {
      margin-left: 2rem;
    }    
  }
  
  &__copyright {
    color: $gray;
    font-size: 1.1rem;

    margin-top: 2rem;
  }
}