.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: block;
    height: 1.6rem;

    margin-top: 7rem;
    margin-bottom: 3.5rem;

    @media screen and (min-width: $bp) {
      height: unset;
      margin-top: 8.5rem;
      margin-bottom: 5rem;
    }
  }

  &__title {
    &--gray {
      color: $gray;
    }

    &--light {
      font-weight: $wght-light;
    }

    @media screen and (min-width: $bp) {
      font-size: 4.8rem;
    }
  }
}